grancelor-backend-key.json
*grancelor-backend-key.json
# .gitignore
__pycache__/
*.pyc
.venv/
env/
node_modules/
user_data/*.json
*.log
*.tmp
frontend/dist/
.vscode/
.zoneidentifier
# OS junk
.DS_Store
Thumbs.db
Desktop.ini

# Windows Alternate Data Streams artifacts on NTFS/WSL
*:*Zone.Identifier
*:*zone.identifier
*:*Zone.Identifier*
*:*mshield
*:*msshield*
